__pycache__/

# 로그 파일
mybot/logs/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE 설정
.vscode/
.idea/

# 시스템 파일
.DS_Store
Thumbs.db

# Node
node_modules/ 

# config 파일
.config.py
config.py

#임시 아이콘콘
.temp_icon
temp_icon.ico